In [1]:
#tous les imports ici :
import pandas as pd

In [3]:
df = pd.read_csv('../raw_data/supply_chain_dataset1.csv')
df.head()

,Date,SKU_ID,Warehouse_ID,Supplier_ID,Region,Units_Sold,Inventory_Level,Supplier_Lead_Time_Days,Reorder_Point,Order_Quantity,Unit_Cost,Unit_Price,Promotion_Flag,Stockout_Flag,Demand_Forecast
0,2024-01-01,SKU_1,WH_1,SUP_8,West,10,592,14,379,0,13.95,20.48,0,0,8.52
1,2024-01-02,SKU_1,WH_1,SUP_8,West,17,575,14,379,0,13.95,20.48,0,0,18.63
2,2024-01-03,SKU_1,WH_1,SUP_8,North,35,540,14,379,0,13.95,20.48,1,0,39.62
3,2024-01-04,SKU_1,WH_1,SUP_8,South,24,516,14,379,0,13.95,20.48,0,0,19.43
4,2024-01-05,SKU_1,WH_1,SUP_8,West,21,495,14,379,0,13.95,20.48,0,0,18.70

In [4]:
# Infos sur les colonnes et types
df.info()

# Statistiques descriptives pour les colonnes numériques
df.describe()

# Vérifier les doublons
df.duplicated().sum()

# Vérifier les valeurs manquantes
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91250 entries, 0 to 91249
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     91250 non-null  object
 1   SKU_ID                   91250 non-null  object
 2   Warehouse_ID             91250 non-null  object
 3   Supplier_ID              91250 non-null  object
 4   Region                   91250 non-null  object
 5   Units_Sold               91250 non-null  int64
 6   Inventory_Level          91250 non-null  int64
 7   Supplier_Lead_Time_Days  91250 non-null  int64
 8   Reorder_Point            91250 non-null  int64
 9   Order_Quantity           91250 non-null  int64
 10  Unit_Cost                91250 non-null  float64
 11  Unit_Price               91250 non-null  float64
 12  Promotion_Flag           91250 non-null  int64
 13  Stockout_Flag            91250 non-null  int64
 14  Demand_Forecast          91250 non-null  float64
dtypes: float64(3), int64(7), object(5)
memory usage: 10.4+ MB

Date                       0
SKU_ID                     0
Warehouse_ID               0
Supplier_ID                0
Region                     0
Units_Sold                 0
Inventory_Level            0
Supplier_Lead_Time_Days    0
Reorder_Point              0
Order_Quantity             0
Unit_Cost                  0
Unit_Price                 0
Promotion_Flag             0
Stockout_Flag              0
Demand_Forecast            0
dtype: int64

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.drop_duplicates()

#vérif des IDs :
df['SKU_ID'] = df['SKU_ID'].str.strip()
df['Warehouse_ID'] = df['Warehouse_ID'].str.strip()
df['Supplier_ID'] = df['Supplier_ID'].str.strip()
df['Region'] = df['Region'].str.strip()